*.o
*.class
Makefile
Makefile.in
configure
tests/tmp-test
tests/reference
tests/fails
dtdquery
html2xhtml
http_listener
test_charset
.classpath
.project
src/.deps
html2xhtml-*.tar.gz
charset_coder/iana_charsets
charset_coder/iconv_charsets
stamp-h1
ylwrap
libtool
autoscan.log
configure.scan
config.log
config.status
config.h
config.h.in
autom4te.cache
aclocal.m4
src/html.c
src/htmlgr.c
src/htmlgr.h
